@use "variables" as v;

.card {

    background-color: v.$color-white;
    padding: v.$card-padding;
    border: v.$border-default;
    border-radius: v.$card-radius;

    &__title {
        color: v.$color-text;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }


    &__content {
        color: #666;
        margin-bottom: 1rem;
    }


    &__button {

        background-color: v.$color-primary;
        color: white;
        border: none;
        padding: .7rem 1.2rem;
        border-radius: 5px;
        cursor: pointer;


        &:hover {
            opacity: .8;
        }
    }


    &--highlighted {

        background-color: #ffe082;

    }

}